/* 
===========================================================================
	Generics 
===========================================================================
*/
/*
	Fonts
*/
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/graphik/Graphik-Regular.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/graphik/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/graphik/Graphik-Regular.woff") format("woff"), url("../fonts/graphik/Graphik-Regular.ttf") format("truetype"), url("../fonts/graphik/Graphik-Regular.svg#Graphik-Regular") format("svg");
	/* Legacy iOS */
	text-rendering: optimizeLegibility;
  }
@font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/graphik/Graphik-Light.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/graphik/Graphik-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/graphik/Graphik-Light.woff") format("woff"), Modern Browsers url("../fonts/graphik/Graphik-Light.ttf") format("truetype"), url("../fonts/graphik/Graphik-Light.svg#Graphik-Light") format("svg");
	/* Legacy iOS */
	text-rendering: optimizeLegibility;
  }
 @font-face {
	font-family: 'Graphik';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/graphik/Graphik-Medium.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/graphik/Graphik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/graphik/Graphik-Medium.woff") format("woff"), url("../fonts/graphik/Graphik-Medium.ttf") format("truetype"), url("../fonts/graphik/Graphik-Medium.svg#Graphik-Medium") format("svg");
	/* Legacy iOS */
	text-rendering: optimizeLegibility;
  }

@font-face {
	font-family: 'Chronica';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/chronica/ChronicaPro-Light.otf");
	/* Legacy iOS */
	text-rendering: optimizeLegibility;
  }

@font-face {
	font-family: 'Chronica';
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/chronica/ChronicaPro-Medium.otf");
	/* Legacy iOS */
	text-rendering: optimizeLegibility;
  }

@font-face {
	font-family: 'Chronica';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/chronica/ChronicaPro-Regular.otf");
	/* Legacy iOS */
	text-rendering: optimizeLegibility;
  }


/*
  	End of Fonts
*/
/*
  	Navigation & Footer
*/
.navbar {
	padding: 0;
	font-size: 13px;
	border-bottom: 1px solid #dadada
}

.navbar, footer {
	background-color: rgb(23, 97, 158);
}

.navbar-brand {
	padding: .5% 3%;
	background-color: white;
	font-size: 14px;
	line-height: 14px;
}

.navbar .navbar-brand {
	color: rgb(23, 97, 158);
}

.navbar .navbar-nav .nav-item .nav-link {
	color: #dadada;
}
.navbar .navbar-nav .nav-item.active .nav-link {
	color: white;
	font-weight: bold;
}

footer {
	background-color: rgb(23, 97, 158);
	color: white;
	font-size: 13px;
	font-weight: thin;
}

footer ul {
	padding-left: 0px;
}

footer .row {
	padding: .8%;
}

footer ul li {
	list-style-type: none;
	text-align: left;
}

footer ul li a:hover {
	color: #15293e;
	text-decoration: none;
}

footer a{
	color: white;
	transition: all 0.15s ease-in-out;
}

a:hover {
	cursor: pointer;
}

.footer-list-heading {
	font-size: 15px;
	font-weight: bold;
}
/*
	End of Navigation & Footer
*/
/*
	Colors
*/
.deep-blue-color {
	color: rgba(52, 46, 121, 0.9);
}

.bg-deep-blue-color {
	background-color: rgba(52, 46, 121, 0.9);
}

.blue-color {
	color: rgb(23, 97, 158);
}

.bg-deep-blue-color {
	background-color: rgb(23, 97, 158);
}

/*
	End of Colors
*/


/*
===========================================================================
	End of Generics
===========================================================================
*/

body, input, button {
	font-family: 'Nunito', sans-serif;
}
.archive-search {
	margin-top: 5%;
}

.archive-search input {
	border: 0;
	-webkit-box-shadow: 7px 13px 37px -1px rgba(0,0,0,0.46);
	-moz-box-shadow: 7px 13px 37px -1px rgba(0,0,0,0.46);
	box-shadow: 7px 13px 37px -1px rgba(0,0,0,0.46);
}

.card-like {
	border-radius: 3px;
	padding: 2%;
	-webkit-box-shadow: 7px 13px 37px -1px rgba(0,0,0,0.46);
	-moz-box-shadow: 7px 13px 37px -1px rgba(0,0,0,0.46);
	box-shadow: 7px 13px 37px -1px rgba(0,0,0,0.46);
}

.card-body {
	padding: 2%;
}

.row {
	margin-top: 2%;
}

.card-text {
	font-size: 70%;
}

.white-fg {
	color: #fff;
}